Data/Protein_Gym_Datasets/PHOT.csv
Data/Protein_Gym_Datasets/GFP.csv
Data/Protein_Gym_Datasets/RASK.csv
Data/Protein_Gym_Datasets/YAP1.csv
Data/Protein_Gym_Datasets/GRB2.csv
Data/Protein_Gym_Datasets/DMS_substitutions.ods
Data/NOD.csv
